.visual {
  position: relative;
  display: block;
  width: 115%;
  height: auto;
  aspect-ratio: 1440 / 540;
  flex: none;
}

.canvas {
  position: absolute;
  top: 0;
  left: 50%;
  width: 1440px;
  height: 540px;
  transform-origin: top center;
}

.background {
  position: absolute;
  inset: 0;
  display: block;
  width: 1440px;
  height: 540px;
  pointer-events: none;
}

.appClip {
  position: absolute;
  z-index: 1;
  top: 5.48961px;
  left: 137.49px;
  width: 1164.56px;
  height: 669.682px;
  overflow: hidden;
  border-radius: 5.75533px;
  opacity: .9;
}

.fade {
  position: absolute;
  z-index: 2;
  top: 264px;
  left: 0;
  width: 1440px;
  height: 276px;
  pointer-events: none;
  background: linear-gradient(180deg, rgb(250 250 250 / 0%) 0%, #fafafa 66.0644%);
}

@media (max-width: 639px) {
  .visual {
    width: 100%;
    height: 344px;
    aspect-ratio: auto;
  }

  .canvas {
    left: 0;
    transform-origin: top left;
  }

  .fade {
    top: 133px;
    height: 211px;
    background: linear-gradient(180deg, rgb(250 250 250 / 0%) 0%, #fafafa 66.0644%);
  }
}

@media (min-width: 640px) {
  .visual {
    width: 100%;
  }
}
